/* Colors and Fonts */

* {
  font-family: 'Roboto', 'Arial';
}

.top-quadrant, .copyright-footer {
  background-color: #1f2937;
  color: #F9FAF8;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 18px;
  color: #E5E7EB;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.random-info-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote-quadrant {
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
}

.signup-block {
  background-color: #3882F6; 
}

/* Other Colors and Styles */

a {
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  display: flex;
  list-style: none;
  padding: 8px;
  margin: 0;
  gap: 12px;
}

button {
  padding: 8px 24px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.signup-button {
  border: 2px solid white;
}

/* Layout */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
}

body,
.random-info-quadrant,
.random-info-grid,
.quote-quadrant, 
.footer-quadrant,
.signup-block {
  display: flex;
}

.random-info-quadrant,
.quote-quadrant,
.footer-quadrant {
  flex: 1;
}

.random-info-quadrant {
  flex-direction: column;
}

/* Top Quadrant */

.top-quadrant {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  padding: 8px 128px;
  margin: 0;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.top-quadrant-content {
  display: flex;
  padding: 8px 128px 64px;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.left-side {
  width: 500px;
  padding: 16px;
}

.hero-button {
  margin-top: 8px;
}




/* Copyright Footer */

.copyright-footer {
  height: 60px;
  text-align: center;
  align-content: center;
}